.tooltip {
    background: #9F9FAD;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 20px;
    width: 120px;
}